<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>
<body>
        <div class="container list">
            <label class = "item">
                <input type="checkbox">One
            </label>
            <label class = "item">
                <input type="checkbox">Two
            </label>
            <label class = "item">
                <input type="checkbox">Three
            </label>
        </div>
</body>
</html>