<%- include('header') -%>
    <h1>Heyyooo</h1>
    <div class="container list">
        <label class = "item">
            <input type="checkbox">One
        </label>
        <label class = "item">
            <input type="checkbox">Two
        </label>
        <label class = "item">
            <input type="checkbox">Three
        </label>
    </div>
<%- include('footer') -%>  