<%- include('header') -%>
    <div class="box" id="heading">
        <h1>List</h1>
    </div>
    <div class="box">
        <form action="">
            <div class="item">
                <input type="checkbox" name="checkbox" onchange="this.form.submit()">
                <p>Item</p>
            </div>
            <input type="hidden" name="listName">
        </form>

        <form action="">
            <input type = "text" name="newItem" placeholder="New Item">
            <button type="submit">+</button>
        </form>
    </div>
<%- include('footer') -%>  